# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints
*.py[cod]
*$py.class

# Checkpoint files
*.pth.tar

# Ignore the DATA Folder, Logs, Wandb Caches
CIFAR10/
CIFAR100/
out/
scripts/cache/
scripts/wandb/
wandb/
err/

.err
.out

